<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="https://gmpg.org/xfn/11" rel="profile">

    <title>
        Dogukan Demir | Home
    </title>

    <!-- CSS -->
    <link rel='stylesheet'
        href='https://d33wubrfki0l68.cloudfront.net/bundles/e290634436834ccbc4457504783abc2b511f91ca.css' />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.9.0/metricsgraphics.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.png">

    <!-- SEO -->
    <link rel="canonical" href="https://dogukan.me/" itemprop="url">
    <meta name="description" content="I'm Dogukan. I'm a game developer.">
    <meta property="og:url" content="https://dogukanDemir.me/">
    <meta property="og:title" content="Dogukan Demir">
    <meta property="og:description" content="I'm Dogukan. I'm a game developer">
    <meta property="og:site_name" content="Dogukan Demir">
    <meta property="og:image" content="https://lawrencewu.me/public/images/ogimage.png">
    <meta name="keywords" content="Dogukan Demir, software engineer, Dogukan, Demir">

    <!-- JS -->
    <!-- vendored -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"
        defer></script>
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var n = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script"); a.type = "text/javascript", a.async = !0, a.src = (n ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js"; var o = document.getElementsByTagName("script")[0]; o.parentNode.insertBefore(a, o); for (var r = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["clearEventProperties", "identify", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = r(p[c]) };
        heap.load("1314201972");
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-76807295-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.min.js" defer></script>

    <!-- mine -->
    <script type='text/javascript' defer
        src='https://d33wubrfki0l68.cloudfront.net/bundles/bc4fd866ad4df2d96fab7790172c978691166625.js'></script>
</head>
<body>
    <header class="masthead">
        <div class="masthead-inner">
            <a href="/me" class="avatar">
                <center><img src="{{user_image}}"> </center>
            </a>
            <a href="/me">
                <p class= lead> 41.0082° N, 28.9784° E</p>
            </a>        
            <div class="colophon">
                <ul class="colophon-links">
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="https://github.com/mastermachina">GitHub</a>
                        <p id="last-commit"></p>
                    </li>
                    <li>
                        <a href="https://open.spotify.com/playlist/44ClKfR6Olcrot4ml5TEhG?si=VQ3zkCiuQLegLC3aUMDMdg">Spotify</a>
                        <p>Current Playlist</p>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="Content Container">
        <div class="Hoods">
            <div class="Personal">
                <h1>
                    <p>Personal</p>
                </h1>
                <span class="post-date">Dogukan Demir</span>
                <p>Hello My name is Dogukan </p>
                <hr>
            </div>
            
            <div class="Description">
                <h1><p>Description</p></h1>
                <hr>
            </div>

            <div class= Qualifications>
                <h1>
                    <p>
                        Qualifications
                    </p>
                </h1>
                <hr>
            </div>

            <div class= "Project">
                <h1>
                    <p>
                        Education
                    </p>
                </h1>
                <hr>
            </div>
            <div class= "Contact">
                <h1>
                    <p>
                        Contact
                    </p>
                </h1>
                <hr>
            </div>

        </div>
    </div>

    